<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="OrionFeed" value="https://pkgs.dev.azure.com/dvmatos/Orion/_packaging/OrionFeed/nuget/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/HelixTechRepo/index.json" />
  </packageSources>
</configuration>